@import "./tippy";
@import "./onboarding";
@import "./base";

.app {
    max-width: 1280px;
    min-height: 100vh;
    padding: var(--app-padding-y) var(--app-padding-x);
    margin: 0 auto;
    font-weight: normal;
}

a {
    text-decoration: none;
    transition: 0.4s;
}
